{% extends 'assimilate/base.html' %}

{% block content %}
    <article class="post">
    
    <!--<h4>
     <div style=" 
        left: 1570px;
    	top: 80px;">
    	<a href="{% url 'post_list' %}">
    	<span class="glyphicon glyphicon-arrow-left"></span>
    	<u>My Articles</u>
    	</a>
    </div>
    </h4>
    	<hr style="border: 1px solid green;">-->
    	
    
    <!--We're looking at the details of a particular article. There's a "previous page" link on this page.
    (request.META.HTTP_REFERER stores the previous page's url)
    Depending on what the previous url is (post_list, browse, search_results, post_edit), we want to change the words on the link-->
    
    
	{% if messages %}

		{% for message in messages %}
			<h3>
			 <mark style="background-color: lightblue; color: green"><span class="glyphicon glyphicon-floppy-saved"></span><i>   {{ message }}   </i></mark>
			</h3>
			 <br>
			
		{% endfor %}

	{% endif %}
		    
    
    <br>
     <div style=" 
        left: 1570px;
    	top: 80px;
    	background-color:pink">
    	<a href="{{ request.META.HTTP_REFERER }}">
    	
    	
    	
	{% if request.META.HTTP_REFERER == "http://localhost:8000/post_list/" %}
		<mark style="background-color:pink"><span class="glyphicon glyphicon-arrow-left"></span>My Articles</mark>
	{% elif request.META.HTTP_REFERER == "http://localhost:8000/browse/" %}
		<mark style="background-color:pink"><span class="glyphicon glyphicon-arrow-left"></span>All Articles</mark>
	{% elif 'search' in request.META.HTTP_REFERER %}
		<mark style="background-color:pink"><span class="glyphicon glyphicon-arrow-left"></span>Search Results</mark>
	{% else %}
		<a href="{% url 'post_list' %}"><mark style="background-color:pink"><span class="glyphicon glyphicon-arrow-left"></span>My Articles</mark></a>
	{% endif %}
	
	
	
	
    	</a>
    </div>
    
    
    
    	<hr style="border: 1px solid green;">
    	
    	
<div class="container green">
    
    
    {% if user.is_authenticated %}
    <!-- All articles get displayed while browsing. Need to make sure user can edit/delete only the articles which they wrote.-->
    <!--Therefore, need to check if the author(user) of the post = the user who is currently logged in-->
    	{% if post_user == loggedin_user %}
    	<br>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>  edit</a>
        <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span> delete</a>
        
        <hr style="border: 1px solid green; width: 50%">
        {% endif %}
    {% endif %}
        
        
  <!--     
      {% if user.is_authenticated %}  
			<button style="display: block;
		    width: 110px;
		    height: 50px;
		    
		    padding: 5px;
		    text-align: center;
		    border-radius: 5px;
		    color: black;
		    font-weight: bold;
		    position: absolute;
		    left: 1570px;
		    top: 50px;"> <a href="{% url 'logout' %}">Logout</a></button>
      {% endif %}
-->
    
    
    	<h1><u>{{ post.title }}</u></h1>
    
    	<h4>Written by {{ post.user}}</h4>
    	
    	
    	
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        
        
        {% if post.domain %}
            
                <h4>Domain: {{ post.domain }}</h4>
            
        {% endif %}
        
        
        <h3>{{ post.content|linebreaksbr }}</h3>
        
    </article>
    
</div>

{% endblock %}



